
## <summary>policy for hashtagcoin</summary>


########################################
## <summary>
##	Transition to hashtagcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`hashtagcoin_domtrans',`
	gen_require(`
		type hashtagcoin_t, hashtagcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, hashtagcoin_exec_t, hashtagcoin_t)
')


########################################
## <summary>
##	Execute hashtagcoin server in the hashtagcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hashtagcoin_initrc_domtrans',`
	gen_require(`
		type hashtagcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, hashtagcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search hashtagcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hashtagcoin_search_lib',`
	gen_require(`
		type hashtagcoin_var_lib_t;
	')

	allow $1 hashtagcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read hashtagcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hashtagcoin_read_lib_files',`
	gen_require(`
		type hashtagcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, hashtagcoin_var_lib_t, hashtagcoin_var_lib_t)
')

########################################
## <summary>
##	Manage hashtagcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hashtagcoin_manage_lib_files',`
	gen_require(`
		type hashtagcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, hashtagcoin_var_lib_t, hashtagcoin_var_lib_t)
')

########################################
## <summary>
##	Manage hashtagcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hashtagcoin_manage_lib_dirs',`
	gen_require(`
		type hashtagcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, hashtagcoin_var_lib_t, hashtagcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an hashtagcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`hashtagcoin_admin',`
	gen_require(`
		type hashtagcoin_t;
		type hashtagcoin_initrc_exec_t;
		type hashtagcoin_var_lib_t;
	')

	allow $1 hashtagcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, hashtagcoin_t)

	hashtagcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 hashtagcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, hashtagcoin_var_lib_t)

')

